﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="AppLogin.aspx.cs" Inherits="PN.ZADemo.Web.ieApp.AppLogin" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">

    <div>    
<asp:textbox runat="server"></asp:textbox><br />
        <asp:Button ID="btnLogin" runat="server" Text="Button" OnClick="btnLogin_Click"/>
    </div>
        
    </form>
</body>
</html>
