﻿@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

 <div class="login-wrapper">
            <!-- BEGIN Login Form -->
            <form id="form-login" action="index.html" method="get">
                <h3><img src="~/img/South Africa.png" />ZA - Login </h3>
                <hr/>
                <div class="form-group">
                    <div class="controls">
                        <input type="text" placeholder="Username" name="UserName" id="username" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <input type="password" placeholder="Password" name="Password" id="password" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox"  name="RememberMe" id="rememberMe" value="true"/> Remember me
                        </label>
                    </div>
                </div>

                 <div class="form-group">
                    <div class="controls">
                          <div class="alert alert-danger hidden" id="divmsg">
                                            <strong><span id="msg"></span></strong>
                                        </div>
                                    </div>
                                    <div id="busy" class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2" hidden>
                                        <img src="~/Images/ajaxloader.gif" /><br />
                                        <br />
                                    </div>
                    </div>

                <div class="form-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-success form-control">Sign In</button>
                    </div>
                      <div class="controls">
                        <button type="button" id="ReportAsAnonymous" class="btn btn-warning form-control">Report As Anonymous </button>
                    </div>
                </div>
                <hr/>
                <p class="clearfix">
                    <a href="#" class="goto-forgot pull-left">Forgot Password?</a>
                    <a href="#" class="goto-register pull-right">Sign up now</a>
                </p>
            </form>
            <!-- END Login Form -->

            <!-- BEGIN Forgot Password Form -->
            <form id="form-forgot" action="#" method="get" style="display:none">
                <h3>Get back your password</h3>
                <hr/>
                <div class="form-group">
                    <div class="controls">
                        <input type="text" placeholder="Email" id="txtRecEmail" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-success form-control">Recover</button>
                    </div>
                </div>
                <hr/>
                <p class="clearfix">
                    <a href="#" class="goto-login pull-left">← Back to login form</a>
                </p>
            </form>
            <!-- END Forgot Password Form -->

            <!-- BEGIN Register Form -->
            <form id="form-register"  style="display:none">
                <h3><img src="~/img/South Africa.png" />ZA -  Sign up</h3>
                <hr/>
                <div class="form-group">
                    <div class="controls">
                        <input type="text" placeholder="Email" id="txtEmail" class="form-control" />
                    </div>
                </div>
               
                <div class="form-group">
                    <div class="controls">
                        <input type="password" placeholder="Password" id="txtPassword" class="form-control" />
                         <span style="color:red" id="valPassword"></span>
                    </div>
                </div>
                  <div class="form-group">
                    <div class="controls">
                        <input type="password" placeholder="Repeat Password" id="txtConfirmPassword" class="form-control" />
                         <span style="color:red" id="valConfirmPassword"></span>
                    </div>
                </div>
                <hr />
               
                 <div class="form-group">
                    <div class="controls">
                        <input type="text" placeholder="First Name" id="txtFirstName" class="form-control" />
                    </div>
                </div>
                 <div class="form-group">
                    <div class="controls">
                        <input type="text" placeholder="Surname" id="txtSurname" class="form-control" />
                    </div>
                </div>
                 <div class="form-group">
                    <div class="controls">
                        <input type="text" placeholder="Title" id="txtTitle" class="form-control" />
                    </div>
                </div>

                
                 <div class="form-group">
                    <div class="controls">
                        <input type="text" placeholder="Cell Number" id="txtCellNumber" class="form-control" />
                    </div>
                </div>
                <hr />
                  <div class="form-group">
                    <div class="controls">
                        <input type="text" placeholder="Position" id="txtPosition" class="form-control" />
                    </div>
                </div>
                 <div class="form-group">
                    <div class="controls">
                        <select data-placeholder="Select Role" class="form-control" id="ddlRole" name="RoleID">

         <option value="" >- Select Role -</option>
                                          @foreach (var item in new SelectList(ViewBag.Roles, "ID", "Role1"))
  {
      <option value="@item.Value" >@item.Text</option>
  }
                                          </select>  
                                     
                    </div>
                </div>
               
               <div class="form-group" id="dvProvince">
                    <div class="controls">
                        <select data-placeholder="Select Municipality" class="form-control" id="ddlProvince" name="ProvinceID">

         <option value="" >- Select Province -</option>
                                                         </select>  
                                     
                    </div>
                </div>
               
                    <div class="form-group" id ="dvDistrict">
                    <div class="controls">
                        <select data-placeholder="Select District" class="form-control" id="ddlDistrict" name="DistrictID">

         <option value="" >- Select District -</option>
                                        
                                          </select>  
                                     
                    </div>
                </div>
                    <div class="form-group" id="dvMunicipality">
                    <div class="controls">
                        <select data-placeholder="Select Municipality" class="form-control" id="ddlMunicipality" name="RoleID">

         <option value="" >- Select Municipality -</option>
                                         
                                          </select>  
                                     
                    </div>
                </div>

                <div class="form-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" value="remember" /> I accept the <a href="#">user aggrement</a>
                        </label>
                    </div>
                </div>
                 
               
                
                <div class="form-group">
                    <div class="controls">
                        <button type="button" id="btnRegister" onclick="javascript:Validate()" class="btn btn-success form-control">Sign up</button>
                    </div>
                </div>
                <hr/>
                <p class="clearfix">
                    <a href="#" class="goto-login pull-left">← Back to login form</a>
                </p>

            </form>
            <!-- END Register Form -->
        </div>

  <script type="text/javascript">
      function goToForm(form) {
          $('.login-wrapper > form:visible').fadeOut(500, function () {
              $('#form-' + form).fadeIn(500);
          });
      }
      $(function () {

          $('#ReportAsAnonymous').click(function () {
              window.location.href = "../Incident/ReportIncident?Anonymous=Yes";
          });

          $('.goto-login').click(function () {
              goToForm('login');
          });
          $('.goto-forgot').click(function () {
              goToForm('forgot');
          });
          $('.goto-register').click(function () {
              goToForm('register');
          });
          $('#dvProvince').prop("hidden", true);
          $('#dvDistrict').prop("hidden", true);
          $('#dvMunicipality').prop("hidden", true);


          //  $("#ddlRole").on('change', function () {
          $("#ddlRole").change(function () {
              var prov = $('#dvProvince');
              var dist = $('#dvDistrict');
              var mun = $('#dvMunicipality');
              var role = parseInt($('#ddlRole').val());


              switch (role) {

                  case 1:
                      prov.prop("hidden", true);
                      dist.prop("hidden", true);
                      mun.prop("hidden", true);
                      break;
                  case 2:
                      prov.prop("hidden", true);
                      dist.prop("hidden", true);
                      mun.prop("hidden", true);
                      break;
                  case 3:
                      prov.prop("hidden", false);
                      dist.prop("hidden", true);
                      mun.prop("hidden", true);
                      break;
                  case 4:
                      prov.prop("hidden", false);
                      dist.prop("hidden", false);
                      mun.prop("hidden", true);
                      break;
                  case 5:
                      prov.prop("hidden", false);
                      dist.prop("hidden", false);
                      mun.prop("hidden", false);
                      break;
                  case 6:
                      prov.prop("hidden", false);
                      dist.prop("hidden", false);
                      mun.prop("hidden", false);
                      break;
              }


              //   GetProvinces();
              //$('#divmsg').prop("hidden", false);



              // ddlMunicipality
          });

          GetProvinces();

          $('#ddlProvince').change(function () {
              var prov = $('#ddlProvince').val();
              GetDistricts(prov);
          });
          $('#ddlDistrict').change(function () {
              var distr = $('#ddlDistrict').val();
              GetMunicipalities(distr);

          });

          $("#ddlProvince").on('select', function () {
              var prov = $('#ddlProvince').val();
              GetDistricts(prov);
          });


          $("#form-login").on('submit', function (e) {
              e.preventDefault();

              var isValid = false,
                  $username = $('input#username'),
                  $password = $('input#password'),
                  $remember = $('input#rememberMe'),
                  $alert = $('.alert.alert-danger');

              if (!!$username.val() && !!$password.val()) {

                  $.ajax({
                      type: 'POST',
                      url: '@Url.Action("Login")',
                    data: $(this).serialize(),
                    dataType: 'json',
                    success: function (data) {
                        window.location.href = "/Dashboard/Index";
                        // window.location.href = data.IsAdmin ? "../Dashboard/Main" : "/Main/Index";
                    },
                    error: function (a, b, c) {
                        var errorMessage = "Bad username or password.";

                        $alert.find('#msg').text(errorMessage);
                        $alert.removeClass('hidden');
                    }
                });


            } else {
                if (!$username.val() || $username.val() == '') {
                    $username.parent().addClass('has-error');
                } else {
                    $username.parent().removeClass('has-error');
                }

                if (!$password.val() || $password.val() == '') {
                    $password.parent().addClass('has-error');
                } else {
                    $password.parent().removeClass('has-error');
                }
            }

        });
    });




    function Validate() {

        var hasError = false;

        var $firstname = $("#txtFirstName");

        if (!$firstname.val() || $firstname.val() == '') {
            $firstname.parent().addClass('has-error');
            hasError = true;
        } else {
            $firstname.parent().removeClass('has-error');
        }

        var $surname = $("#txtSurname");

        if (!$surname.val() || $surname.val() == '') {
            $surname.parent().addClass('has-error');
            hasError = true;
        } else {
            $surname.parent().removeClass('has-error');
        }


        var $email = $("#txtEmail");


        if (!$email.val() || $email.val() == '') {
            $email.parent().addClass('has-error');
            hasError = true;
        } else {
            $email.parent().removeClass('has-error');
        }


        var $title = $("#txtTitle");


        if (!$title.val() || $title.val() == '') {
            $title.parent().addClass('has-error');
            hasError = true;
        } else {
            $title.parent().removeClass('has-error');
        }


        var $position = $("#txtPosition");

        if (!$position.val() || $position.val() == '') {
            $position.parent().addClass('has-error');
            hasError = true;
        } else {
            $position.parent().removeClass('has-error');
        }


        var $cellNumber = $("#txtCellNumber");


        if (!$cellNumber.val() || $cellNumber.val() == '') {
            $cellNumber.parent().addClass('has-error');
            hasError = true;
        } else {
            $cellNumber.parent().removeClass('has-error');
        }



        var $password = $("#txtPassword");


        if (!$password.val() || $password.val() == '') {
            $password.parent().addClass('has-error');
            hasError = true;
        } else {
            $password.parent().removeClass('has-error');
        }


        var passwordVal = $("#txtPassword").val();
        var confirmPass = $("#txtConfirmPassword").val();
        if (passwordVal == '') {
            $("#valPassword").empty();


            hasError = true;
        } else if (confirmPass == '') {
            $("#txtConfirmPassword").parent().addClass('has-error');
            hasError = true;

            hasError = true;
        } else if (passwordVal != confirmPass) {

            $("#txtPassword").parent().addClass('has-error');
            hasError = true;
            $("#txtConfirmPassword").parent().addClass('has-error');
            hasError = true;
            $("#valConfirmPassword").empty();
            $("#valConfirmPassword").append('Passwords do not match!');

            hasError = true;
        } else if (passwordVal == confirmPass) {
            $password.parent().removeClass('has-error');
            $("#valConfirmPassword").empty();
            $("#txtConfirmPassword").parent().removeClass('has-error');
        }


        var $roleid = $("#ddlRole");


        if (!$roleid.val() || $roleid.val() == '') {
            $roleid.parent().addClass('has-error');
            hasError = true;
        } else {
            $roleid.parent().removeClass('has-error');
        }
        //var $munID = $('#ddlMunicipality');
        //if (!$munID.val() || $munID.val() == '') {
        //    $munID.parent().addClass('has-error');
        //    hasError = true;
        //} else {
        //    $munID.parent().removeClass('has-error');
        //}

        if (hasError == true) {
            $("#busy").prop("hidden", true);
            $("#msg1").empty();
            $('#divmsg').prop("hidden", true);
            $('#divmsg1').prop("hidden", false);
            $('#btnSubmit').prop("disabled", false);
            $("#msg1").append('Complete all fields');
            //$("#resultmsg").empty();
            //$("#resultmsg").append('Complete all fields');
            //$("#btnResult").click();
            return false;
        } else {
            Submit();

        }
    }




    function Submit() {

        $("#busy").prop("hidden", false);
        var url = '@Url.Action("Register")';
        $('#btnRegister').prop("disabled", true);
        var username = $("#txtEmail").val();
        var password = $("#txtPassword").val();
        var firstname = $("#txtFirstName").val();
        var surname = $("#txtSurname").val();
        var email = $("#txtEmail").val();
        var position = $("#txtPosition").val();
        var cellNumber = $("#txtCellNumber").val();
        var title = $("#txtTitle").val();
        var roleID = $('#ddlRole').val();

        var munID = '0';//$('#ddlMunicipality').val();
        var role = parseInt($('#ddlRole').val());


        switch (role) {

            case 1:
               
                break;
            case 2:
                munID =0;
                break;
            case 3:
                munID = $('#ddlProvince').val();
                break;
            case 4:
                munID = $('#ddlDistrict').val();
                break;
            case 5:
                munID = $('#ddlMunicipality').val();
                break;
            case 6:
              
                break;
        }



        var user = {
            ID: 0,
            UserName: username,
            PasswordHash: password,
            Surname: surname,
            FirstName: firstname,
            Email: email,
            Position: position,
            CellNumber: cellNumber,
            TelePhone: cellNumber,
            Title: title,
            StrRoles: roleID,
            MunID: munID,
            LevelID: munID
        };


        $.ajax({
            type: "POST",
            url: url,
            data: JSON.stringify(user),
            datatype: "JSON",
            contentType: "application/json; charset=utf-8",
            success: function (returndata) {
                if (returndata.ok) {
                    $('#btnRegister').prop("disabled", true);
                    //$("#busy").prop("hidden", true);
                    //$('#divmsg').prop("hidden", false);
                    //$('#divmsg1').prop("hidden", true);
                    //$("#msg").empty();
                    //$("#msg").append(returndata.message);
                    //  form-register

                   // alert(returndata.logged);
                    if (returndata.logged) {
                    
                        window.location.href = "/Dashboard/Index";
                    } else {
                        goToForm('login');
                    }


                } else {
                    $("#busy").prop("hidden", true);
                    $("#msg1").empty();
                    $('#divmsg').prop("hidden", true);
                    $('#divmsg1').prop("hidden", false);
                    $('#btnRegister').prop("disabled", false);
                    $("#msg1").append(returndata.message);
                    $("#resultmsg").empty();
                    $("#resultmsg").append(returndata.message);
                    $("#btnResult").click();

                }

            }
        });

    }

    function GetProvinces() {
        //  $("#btnBusyClose").click();
        $("#btnBusy").click();
        var url = '../Auth/GetProvinces';

        $.ajax({
            type: "POST",
            url: url,
            //   data: data,
            datatype: "JSON",
            // contentType: "application/json; charset=utf-8",
            success: function (returndata) {
                $('#ddlProvince').empty();
                var options = '<option value="">-Select Province -</option>';

                if (returndata.ok) {

                    $.each(returndata.Records, function (index, itemData) {
                        options += '<option value="' + itemData.ID + '">' + itemData.Name + '</option>'

                    });
                    $('#ddlProvince').append(options);
                    $('#ddlProvince').val("");

                } else {
                    // $("#btnBusyClose").click();

                }

            },
            error: function (data) {
                // $("#btnBusyClose").click();
            }


        });

    }



    function GetDistricts(provinceID) {

        //  $("#btnBusyClose").click();
        $("#btnBusy").click();

        var url = '../Auth/GetDistricts';
        data = {
            ProvinceID: provinceID
        };
        $.ajax({
            type: "POST",
            url: url,
            data: data,
            datatype: "JSON",
            // contentType: "application/json; charset=utf-8",
            success: function (returndata) {

                $('#ddlDistrict').empty();

                var options = '<option value="">-Select District -</option>';
                if (returndata.ok) {
                    $.each(returndata.Records, function (index, itemData) {
                        options += '<option value="' + itemData.ID + '">' + itemData.Name + '</option>'

                    });
                    $('#ddlDistrict').append(options);
                    $('#ddlDistrict').val("");
                } else {
                    // $("#btnBusyClose").click();

                }

            },
            error: function (data) {
                // $("#btnBusyClose").click();
            }


        });

    }




    function GetMunicipalities(districtID) {

        //  $("#btnBusyClose").click();
        $("#btnBusy").click();

        var url = '../Auth/GetLocalMunicipalities';
        data = {
            DistrictID: districtID
        };
        $.ajax({
            type: "POST",
            url: url,
            data: data,
            datatype: "JSON",
            // contentType: "application/json; charset=utf-8",
            success: function (returndata) {

                $('#ddlMunicipality').empty();
                var options = '<option value="">-Select Municipality -</option>';
                if (returndata.ok) {

                    $.each(returndata.Records, function (index, itemData) {
                        options += '<option value="' + itemData.ID + '">' + itemData.Name + '</option>'

                    });
                    $('#ddlMunicipality').append(options);
                    $('#ddlMunicipality').val("");

                } else {
                    // $("#btnBusyClose").click();

                }

            },
            error: function (data) {
                // $("#btnBusyClose").click();
            }


        });

    }
</script>