﻿@{
    ViewBag.Title = "Logout";
    Layout = "~/Views/Shared/_LayoutDev.cshtml";
}
<script type="text/javascript" src="@Url.Content("~/js/lib/jquery/jquery-1.8.2.min.js")"></script>
 <script type="text/javascript">
      $(function () {

         var thatUrl = "../Auth/Login";
                thatUrl = encodeURI(thatUrl);  //Let's encode :)
                window.location.href = thatUrl;
    });
   
            </script>