﻿@{
    ViewBag.Title = "Incidents";
     Layout = "~/Views/Shared/_LayoutDev.cshtml";
}



@section nav{
    @Html.Partial("~/Views/Shared/_AdminNavbar.cshtml")
    }

	<div class="container">
			<div class="col-md-12">
        <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Incident Details</h3>
                                    </div>
                                    <div class="panel-body">
            
            <div class="box-content">
                 <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-content">
                                <div class="invoice" id="dvReport">
                                    <div class="row">
                                        <div class="col-md-4">
                                         @*   <h2> Name</h2>*@
                                        </div>
                                        <div class="col-md-4">
                                              <img src="~/img/Government-logoB.jpg" width="100px" height="130px" />
                                        </div>
            
                                        <div class="col-md-4 invoice-info">
                                          @*  <p class="font-size-17"><strong>Incident</strong> # <span id="dvNumber"></span></p>
                                            <p>31 July 2013</p>*@
                                        </div>
                                    </div>

                                    <hr class="margin-0" />

                                    <div class="row">
                                        <div class="col-md-12 company-info">
                                              <h2> <span id="dvWardName"></span></h2>
                                            <h4>District : <span id="dvDistrict"></span></h4>
                                                <h4>Province: <span id="dvProvince"></span></h4>
                                              <h4>Number Of Incident(s): <span id="dvIncident"></span></h4>
                                            <p><br/><span id="dvContactPerson"></span></p>
                                            <p><i class="fa fa-phone"></i> <span id="dvPhone"></span></p>
                                            <p><i class="fa fa-print"></i> <span id="dvPhone1"></span></p>
                                           
                                        </div>
                                      
                                    </div>

                                    <br/><br/>

                                    <div class="table-responsive" >
                                        <table class="table table-striped table-bordered" id="tbLogs">
                                            <thead>
                                                <tr>
                                                    <th class="center">#</th>
                                                    <th>Status</th>
                                                    <th class="hidden-sm">Notes</th>
                                              
                                                    <th>Date</th>
                                                </tr>
                                            </thead>
                                            <tbody >
                                             
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                          
                                            
                                        </div>
                                        <div class="col-md-6 invoice-amount">
                                          
                                            
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                         <div class="col-md-9">
                                             </div>
                                         <div class="col-md-3">
                                             <br /> <br />
                                        <button type="button" class="btn btn-success"  id="btnPrint">Print Report</button>
                                             </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</div>

                                        </div>

            </div>

                </div>
        </div>


<script type="text/javascript">
    $(function () {

        $("#navIncidents").addClass("active");

        $("#btnPrint").click(function () {
            var divContents = $("#dvReport").html();
            var printWindow = window.open('', '', 'height=900,width=1020');
            printWindow.document.write('<html><head><title></title>');
            printWindow.document.write('</head><body >');
            printWindow.document.write(divContents);
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            printWindow.print();
        });
        GetIncidentDetails();


    });
    function GetIncidentDetails() {

        //  $("#btnBusyClose").click();
      //  $("#btnBusy").click();

        var url = '../Incident/GetWardIncidentDetails';
        data = {
            ID: '@ViewBag.IncidentID'
        };
        $.ajax({
            type: "POST",
            url: url,
            data: data,
            datatype: "JSON",
            // contentType: "application/json; charset=utf-8",
            success: function (returndata) {

              //  $('#tbLogs').empty();
            
              
                if (returndata.ok) {
                    $('#dvWardName').append(returndata.WardName);
                    $('#dvProvince').append(returndata.Province);
                    $('#dvDistrict').append(returndata.District);
                    $('#dvIncident').append(returndata.NumberOfIncidents);
                    
                    $.each(returndata.Records, function (index, itemData) {
                        var $tr = '';
                        $tr += '<tr>  <td class="center">' + itemData.ID + '</td>  <td>' + itemData.Status + '</td>  <td class="hidden-sm">' + itemData.Notes + '</td> <td>' + itemData.LogDate + '</td></tr>'
                         $('#tbLogs').last().append($tr);
                    });
                  
                    //  $('#ddlDistrict').val("0");
                } else {
                    // $("#btnBusyClose").click();
                }
            },
            error: function (data) {
                // $("#btnBusyClose").click();
            }
        });

    }


</script>