﻿@{
    ViewBag.Title = "Incidents";
     Layout = "~/Views/Shared/_LayoutDev.cshtml";
}



@section nav{
    @Html.Partial("~/Views/Shared/_AdminNavbar.cshtml")
    }

	<div class="container">
			<div class="col-md-12">
        <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Incidents</h3>
                                    </div>
                                    <div class="panel-body">
            
            <div class="box-content">
           	<div>
									

 	<div class="row">
                      <form class="form-horizontal form-bordered form-row-stripped">
       <div class="form-group"></div>      
            <div class="form-group">

                  <label for="value" class="col-xs-1 col-lg-1 control-label">Province</label>
                                <div class="col-sm-1 col-lg-1 controls">
                              <select id="ddlProvince"  class="form-control" >
                                   <option value="0"></option>              
                </select>    
                                </div>

                  <label for="value" class="col-xs-1 col-lg-1 control-label">District</label>
                                <div class="col-sm-1 col-lg-1 controls">
                              <select id="ddlDistrict"  class="form-control" >
                                   <option value="0"></option>              
                </select>    
                                </div>

                <label for="value" class="col-xs-1 col-lg-1 control-label">Municipality</label>
                                <div class="col-sm-1 col-lg-1 controls">
                              <select id="ddlMunicipality"  class="form-control" >
                                   <option value="0"></option>              
                </select>
    
                                </div>

                <label for="value" class="col-xs-1 col-lg-1 control-label">Wards</label>
                                <div class="col-sm-1 col-lg-1 controls">
                                  <select id="ddlWard" class="form-control" >
                                   <option value="0"></option>
           
                </select>
                                </div>
                            

              <div class="col-sm-2 col-lg-1 controls">
                                    <button type="button" class="btn btn-success" id="LoadRecordsButton" >Filter</button>

                   
                                      
                                </div>
                            </div>
         
       </form>
                  <div id="IncidentTableContainer"></div>
         <input type="hidden" id="hdnWardID" value="@ViewBag.WardID"/>
                </div>

	</div>
</div>

                                        </div>

            </div>

                </div>
        </div>


@*<script type="text/javascript" src="@Url.Content("~/js/lib/jquery/jquery-1.8.2.min.js")"></script>*@
<script type="text/javascript">
    $(function() {

        $("#navIncidents").addClass("active");

        $('#btnRefresh').click(function() {
            location.reload();
        });


        $('#btnYes').click(function() {
            DeleteReport();
        });

        $('#IncidentTableContainer').jtable({
            title: 'Incidents ',
            paging: true,
            sorting: true,
            defaultSorting: 'ID DESC',
            actions: {
                listAction: '@Url.Action("GetIncidents")'

            },

            toolbar: {
                items: [{
                    tooltip: 'Report Incident',
                    //icon: '../../metro/add.png',
                    text: '<i class="icon-plus"/> Report Incident',
                    click: function() {

                        var thatUrl = "../Incident/ReportIncident";
                        thatUrl = encodeURI(thatUrl); //Let's encode :)
                        window.location.href = thatUrl;

                    }


                }, {
                    tooltip: 'Refresh',
                    //icon: '/Content/images/Misc/excel.png',
                    text: '<i class="icon-repeat"/> Refresh',
                    click: function() {
                        $('#IncidentTableContainer').jtable('load', {

                        });
                    }


                }]
            },

            fields: {
                ID: {
                    key: true,
                    create: false,
                    edit: false,
                    list: false
                },
                WardID: {
                  
                    create: false,
                    edit: false,
                    list: false
                },
                
                Category: {
                    title: 'Sector'
                },
                Type: {
                    title: 'Type'
                },
                Status: {
                    title: 'Status',
                    width: '3%'
                },
                Ward: {
                    title: 'Ward No'
                },

                Municipality: {
                    title: 'Municipality'
                },
                District: {
                    title: 'District'
                },
                Province: {
                    title: 'Province'
                },
                DateOccurred: {
                    title: 'Date Occurred'
                },

                DateClosed: {
                    title: 'Date Closed'
                },


               
                Action1: {
                    title: '',
                    width: '1%',
                    sorting: false,
                    edit: false,
                    create: false,
                    display: function(reportData) {

                        //Create an image that will be used to open child table
                        var $img = $('  <a class="btn btn-sm show-tooltip" title="View Incident Details"  href="#"><i class="icon-zoom-in"></i></a>');
                        //Open child table when user clicks the image
                        $img.click(function() {
                            var id = reportData.record.ID;
                            IncidentDetails(id);

                        });
                        //Return image to show on the person row
                        return $img;
                    }
                },

                Action2: {
                    title: '',
                    width: '1%',
                    sorting: false,
                    edit: false,
                    create: false,
                    display: function (reportData) {
                        //Create an image that will be used to open child table
                        var $img = $('<a class="btn btn-sm show-tooltip" title="Log Incident Status" href="#"><img src="../img/edit.png" /></a>');
                        //Open child table when user clicks the image
                        $img.click(function () {
                            var id = reportData.record.ID;
                            LogIncidentStatus(id);

                        });
                        //Return image to show on the person row
                        return $img;
                    }
                },

                Action3: {
                    title: '',
                    width: '1%',
                    sorting: false,
                    edit: false,
                    create: false,
                    display: function(reportData) {
                        //Create an image that will be used to open child table
                        var $img = $('<a class="btn btn-sm show-tooltip" title="Edit Incident" href="#"><img src="../img/edit.png" /></a>');
                        //Open child table when user clicks the image
                        $img.click(function() {
                            var id = reportData.record.ID;
                            EditIncident(id);

                        });
                        //Return image to show on the person row
                        return $img;
                    }
                },

                Action4: {
                    title: '',
                    width: '1%',
                    sorting: false,
                    edit: false,
                    create: false,
                    display: function(reportData) {
                        //Create an image that will be used to open child table
                        var $img = $('<a class="btn btn-sm btn-danger show-tooltip" title="Delete Recipient"  href="#"><i class="icon-trash"></i></a>');
                        //Open child table when user clicks the image
                        $img.click(function() {
                            var id = reportData.record.WardID;
                            // ConfirmDeleteRecipient(id);

                            GetWardReport(id);

                        });
                        //Return image to show on the person row
                        return $img;
                    }
                },




            },
            recordsLoaded: function(event, data) {

                setTimeout($('#IncidentTableContainer div').resize(), 4);
            }

        });

        //Re-load records when user click 'load records' button.
        $('#LoadRecordsButton').click(function(e) {
            e.preventDefault();
            Reload();
        });

        $('#IncidentTableContainer').jtable('load', {
            wardID: $('#hdnWardID').val(),
            level: '@ViewBag.Role',
        levelID: '@ViewBag.CurrID'
            // companyID: $('#ddlCompany').val()
        });
      
        //Load all records when page is first shown
        // $('#LoadRecordsButton').click();

        GetRoleFunction();
    });

    function resizeDiv() {
        vpw = $(window).width();
        vph = $(window).height();
        $('#content').css({
            'height': vph + 'px'
        });
    }



    function GetRoleFunction() {

        var roleID = '@ViewBag.Role';
        switch (roleID) {
            case "2":
                GetProvinces();
                break;

            case "3":
                $('#ddlProvince').prop("disabled", true);
                GetDistricts('@ViewBag.CurrID');
                break;

            case "4":
                $('#ddlDistrict').prop("disabled", true);
                $('#ddlProvince').prop("disabled", true);
                GetMunicipalities('@ViewBag.CurrID');
                break;

            case "5":
                $('#ddlDistrict').prop("disabled", true);
                $('#ddlProvince').prop("disabled", true);
                $('#ddlMunicipality').prop("disabled", true);
                GetWards('@ViewBag.CurrID');
                break;

            case "6":
                $('#ddlDistrict').prop("disabled", true);
                $('#ddlProvince').prop("disabled", true);
                $('#ddlMunicipality').prop("disabled", true);
                $('#ddlWard').prop("disabled", true);
                break;

            default:

        }

        $('#ddlProvince').change(function() {
            var prov = $('#ddlProvince').val();
            GetDistricts(prov);
        });
        $('#ddlDistrict').change(function() {
            var distr = $('#ddlDistrict').val();
            GetMunicipalities(distr);

        });

        $("#ddlMunicipality").change(function() {
            var prov = $('#ddlMunicipality').val();
            GetWards(prov);
        });

        $("#ddlWard").change(function () {
            var ward = $('#ddlWard').val();
            $('#hdnWardID').val(ward);
        });


    }

    function EditIncident(id) {

         var enc0ID = $.base64('encode', id);


         var thatUrl = "EditIncident?id=" + enc0ID;
        thatUrl = encodeURI(thatUrl); //Let's encode :)
        window.location.href = thatUrl;
    }

    function GetWardReport(id) {

        var enc0ID = $.base64('encode', id);


        var thatUrl = "WardIncidentdetails?id=" + enc0ID;
        thatUrl = encodeURI(thatUrl); //Let's encode :)
        window.location.href = thatUrl;
    }



    function LogIncidentStatus(id) {

        var enc0ID = $.base64('encode', id);


        var thatUrl = "LogIncidentStatus?id=" + enc0ID;
        thatUrl = encodeURI(thatUrl); //Let's encode :)
        window.location.href = thatUrl;
    }
    function IncidentDetails(id) {

        var enc0ID = $.base64('encode', id);


        var thatUrl = "IncidentDetails?id=" + enc0ID;
        thatUrl = encodeURI(thatUrl); //Let's encode :)
        window.location.href = thatUrl;
    }

    
    function ConfirmDeleteIncident(id) {
        $('#hdnDeleteID').val(id);
        $('#btnConfirmDelete').click();
    }

    function Reload() {
        $('#IncidentTableContainer').jtable('load', {
            level: '@ViewBag.Role',
            levelID: '@ViewBag.CurrID',
            provinceID: $('#ddlProvince').val(),
            districtID: $('#ddlDistrict').val(),
            municipalityID: $('#ddlMunicipality').val(),
            wardID: $('#hdnWardID').val()

        });
    }


    function DeleteIncident() {

        var url = '@Url.Action("DeleteIncident")';

        var btn = $('#btnResult');
        var msg = $('#resultmsg');
        msg.empty();
        var gid = $('#hdnDeleteID').val();;


        var db = {
            id: gid
        };
        $.ajax({
            type: "POST",
            url: url,
            data: JSON.stringify(db),
            datatype: "JSON",
            contentType: "application/json; charset=utf-8",
            success: function(returndata) {
                if (returndata.ok) {
                    msg.append(returndata.message);
                    btn.click();

                    location.reload();
                } else {

                    msg.append(returndata.message);
                    btn.click();
                }

            },
            error: function(returndata) {
                var errorMessage = "Error.";
                msg.append(errorMessage);
                btn.click();
            }
        });

    }


    function GetProvinces() {
        //  $("#btnBusyClose").click();
        $("#btnBusy").click();
        var url = '../Auth/GetProvinces';

        $.ajax({
            type: "POST",
            url: url,
            //   data: data,
            datatype: "JSON",
            // contentType: "application/json; charset=utf-8",
            success: function(returndata) {
                $('#ddlProvince').empty();
                var options = '<option value="0">All Province </option>';

                if (returndata.ok) {

                    $.each(returndata.Records, function(index, itemData) {
                        options += '<option value="' + itemData.ID + '">' + itemData.Name + '</option>'

                    });
                    $('#ddlProvince').append(options);
                  //  $('#ddlProvince').val("0");

                } else {
                    // $("#btnBusyClose").click();

                }

            },
            error: function(data) {
                // $("#btnBusyClose").click();
            }

        });

    }



    function GetDistricts(provinceID) {

        //  $("#btnBusyClose").click();
        $("#btnBusy").click();

        var url = '../Auth/GetDistricts';
        data = {
            ProvinceID: provinceID
        };
        $.ajax({
            type: "POST",
            url: url,
            data: data,
            datatype: "JSON",
            // contentType: "application/json; charset=utf-8",
            success: function(returndata) {

                $('#ddlDistrict').empty();

                var options = '<option value="0">All District</option>';
                if (returndata.ok) {
                    $.each(returndata.Records, function(index, itemData) {
                        options += '<option value="0' + itemData.ID + '">' + itemData.Name + '</option>'

                    });
                    $('#ddlDistrict').append(options);
                  //  $('#ddlDistrict').val("0");
                } else {
                    // $("#btnBusyClose").click();
                }
            },
            error: function(data) {
                // $("#btnBusyClose").click();
            }
        });

    }


    function GetMunicipalities(districtID) {

        //  $("#btnBusyClose").click();
        $("#btnBusy").click();

        var url = '../Auth/GetLocalMunicipalities';
        data = {
            DistrictID: districtID
        };
        $.ajax({
            type: "POST",
            url: url,
            data: data,
            datatype: "JSON",
            // contentType: "application/json; charset=utf-8",
            success: function(returndata) {

                $('#ddlMunicipality').empty();
                var options = '<option value="0">All Municipality </option>';
                if (returndata.ok) {

                    $.each(returndata.Records, function(index, itemData) {
                        options += '<option value="' + itemData.ID + '">' + itemData.Name + '</option>'

                    });
                    $('#ddlMunicipality').append(options);
                //    $('#ddlMunicipality').val("0");

                } else {
                    // $("#btnBusyClose").click();
                }
            },
            error: function(data) {
                // $("#btnBusyClose").click();
            }

        });

    }




    function GetWards(MuniID) {

        //  $("#btnBusyClose").click();
        $("#btnBusy").click();

        var url = '../Auth/GetWards';
        data = {
            MuniID: MuniID
        };
        $.ajax({
            type: "POST",
            url: url,
            data: data,
            datatype: "JSON",
            // contentType: "application/json; charset=utf-8",
            success: function(returndata) {

                $('#ddlWard').empty();
                var options = '<option value="0">All Wards </option>';
                if (returndata.ok) {

                    $.each(returndata.Records, function(index, itemData) {
                        options += '<option value="' + itemData.ID + '">' + itemData.Name + '</option>'

                    });
                    $('#ddlWard').append(options);
                    //if($('#hdnWardID').val()

                 //   $('#ddlWard').val("0");

                 //   Reload();

                } else {
                    // $("#btnBusyClose").click();

                }

            },
            error: function(data) {
                // $("#btnBusyClose").click();
            }


        });

    }
</script>