﻿@{
    ViewBag.Title = "Incident Report";
    Layout = "~/Views/Shared/_LayoutDev.cshtml";
}

@model PN.ZADemo.Entity.Incident

@section nav{
   @Html.Partial("~/Views/Shared/_AdminNavbar.cshtml")
    }

<div class="col-md-12">
        <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Log Incident Status</h3>
                                    </div>
                                    <div class="panel-body">
            
            <div class="box-content">
                <form id="incidentForm"  enctype="multipart/form-data"  class="form-horizontal">
                 
   
                    <div class="row">
                        <div class="col-md-12 ">
                           
                              <div class="form-group">
                                <label for="value" class="col-xs-3 col-lg-2 control-label">Incident Type</label>
                                <div class="col-sm-9 col-lg-9 controls">
                                    
         <input type="text" class="form-control" readonly="true" name="Impact" id="txtIncident" value='@Model.IncidentType.Type : @Model.WardsCordinate.LocalMunicipalitiesCordinate.MUNICNAME :  Ward No @Model.WardsCordinate.WARDNO'> 
                                     
                                     
                                </div>
                            </div>
                          
                          
                               <div class="form-group">
                                <label for="value" class="col-xs-3 col-lg-2 control-label">Status</label>
                                <div class="col-sm-9 col-lg-9 controls">
                                    <select data-placeholder="Select Status" class="form-control" id="ddlStatus" name="Status">

         <option value="" >- Select Status -</option>
                                        @foreach (var item in new SelectList(ViewBag.IncidentStatuses, "ID", "IncidentStatus"))
  {
     
                                                <option value="@item.Value">@item.Text</option>
                                            
  }
                                                          </select>  
                                     
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="value" class="col-xs-3 col-lg-2 control-label">Notes</label>
                                <div class="col-sm-9 col-lg-9 controls">
                                      
                                       <textarea cols="15" class="form-control" placeholder="Notes" rows="15" name="Notes" id="txtNotes"></textarea>
                                       
                                </div>
                            </div>

                           
                          
                            
                         
                            
                           
                             <div  class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                             <div class="alert alert-success" id="divmsg" hidden >
                                           <button class="close" data-dismiss="alert">&times;</button> 
                                            <strong><span id="msg">Successful</span></strong> 
                                        </div>
                            </div>
                           
                             <div  class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2" >
                             <div class="alert alert-danger" id="divmsg1" hidden>
                                            <button class="close" data-dismiss="alert">&times;</button>
                                            <strong><span id="msg1">Unsuccessful</span></strong> 
                                        </div>
                            </div>

                            
                            <div id="busy"  class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2" hidden>
                                <img src="~/Images/ajaxloader.gif" />
                                <br />
                                <br />
                            </div>

                            <input id="hdnID" value="@Model.ID" type="hidden" name="ID" />

                            <div class="form-group">
                                <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                                    <button type="submit" class="btn btn-success" id="btnSubmit" value="Submit" >Submit Log Incident Status</button>
                                       @*<button type="reset" class="btn"  onclick="javascript: AddNew()">Add Another One</button>
                                    <button type="reset" class="btn"  onclick="javascript: Cancel()">Back To List</button>*@
                                </div>
                            </div>


                            <!-- END Left Side -->
                        </div>
                       
                            <!-- BEGIN Right Side -->
                          
                            <!-- END Right Side -->
                 
                    </div>

                </form>
            </div>
        </div>
    </div>
  </div>

	

  <a href="#modal-3"  data-toggle="modal" id="btnValidate" hidden></a>
 <a href="#modal-4"  data-toggle="modal" id="btnResult" hidden></a>

 <div id="modal-3" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel2">Confirm</h3>
                </div>
                <div class="modal-body">
                    <p>Values are not over 10% of previous entries. Do you want to contiue to save?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
                    <button class="btn btn-primary" data-dismiss="modal" id="btnYes">Yes</button>
                </div>
            </div>
        </div>
    </div>




   <div id="modal-4" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel3">Result</h3>
                </div>
                <div class="modal-body">
                    <span id="resultmsg"></span>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>



<a href="#modal-busy"  data-toggle="modal" id="btnModalBusy" hidden></a>
  <div id="modal-busy" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h3 id="myModalLabel311">Please wait.....</h3>
                </div>
                <div class="modal-body">
                    <span id="testresultmsg1">Uploading report.....</span><br />
                      <img src="~/Images/ajaxloader.gif" />
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" id="btnCloseBusy" hidden="hidden"></button>
                </div>
            </div>
        </div>
    </div>
  
  

<script type="text/javascript">

    $(function () {

       
        $("#navIncidents").addClass("active");

       $("#btnSubmit1").on('click', function (e) {
       

        $("#btnResult").click();
       });

     

      
    });                                                                                                                                                                                                                                                                                                             

   
   
    $("#incidentForm").on('submit', function (e) {
        e.preventDefault();
       
        var isValid = false
         
           , $notes = $('#txtNotes')
        
         
           , $status = $('#ddlStatus')
          , $alert = $('.alert.alert-danger');

        if (!!$status.val() && !!$notes.val()) {


            $.ajax({
                type: 'POST',
                url: '@Url.Action("../Incident/SubmitLogIncidentStatus")',
                data: new FormData( this ),
                processData: false,
                contentType: false,
                success: function (returndata) {
                    if (returndata.ok) {

                        $('#btnSubmit').prop("disabled", true);
                        $("#busy").prop("hidden", true);
                        $('#divmsg').prop("hidden", false);
                        $('#divmsg1').prop("hidden", true);
                        $("#msg").empty();
                        $("#msg").append(returndata.message);
                        // $("#hdnID").val(returndata.id);
                        $("#resultmsg").empty();
                        $("#resultmsg").append(returndata.message);
                          $("#btnResult").click();
                       
                            var thatUrl = "../Incident/Incidents";
                            //  thatUrl = encodeURI(thatUrl);  //Let's encode :)
                            window.location.href = thatUrl;
                        
                    }
                    else {

                        var errorMessage = "Error.";

                        $alert.find('#msg').text(errorMessage);
                        $alert.removeClass('hidden');
                    }
                    },
                    error: function (a, b, c) {
                        var errorMessage = "Error.";

                        $alert.find('#msg').text(errorMessage);
                        $alert.removeClass('hidden');
                    }
                });


        } else {

          
               

            if (!$notes.val() || $notes.val() == '') {
                $notes.parent().addClass('has-error');
            } else {
                $notes.parent().removeClass('has-error');
            }

          
           

            if (!$status.val() || $status.val() == '') {
                $status.parent().addClass('has-error');
            } else {
                $status.parent().removeClass('has-error');
            }

           

            }

        });



  

    function AddNew() {

        //  var siteid = $("#ddlSite").chosen().val();
        //   alert(siteid);
        var thatUrl = "ReportIncident";
        thatUrl = encodeURI(thatUrl);  //Let's encode :)
        window.location.href = thatUrl;

    }
    


  

    
  

   






   

    

    
</script>
