﻿@{
    ViewBag.Title = "Incident Report";
    Layout = "~/Views/Shared/_LayoutDev.cshtml";
}



@section nav{
   @Html.Partial("~/Views/Shared/_AdminNavbar.cshtml")
    }

<div class="col-md-12">
        <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Incident Report</h3>
                                    </div>
                                    <div class="panel-body">
            
            <div class="box-content">
                <form id="incidentForm"  enctype="multipart/form-data"  class="form-horizontal">
                                                  
 
    
   
                    <div class="row">
                        <div class="col-md-12 ">

                               <div class="form-group">
                                <label for="value" class="col-xs-3 col-lg-2 control-label">Sector</label>
                                <div class="col-sm-9 col-lg-5 controls">
                                    
     <select data-placeholder="Select Incident Type" class="form-control" id="ddlCategory" name="CategoryID">

         <option value="" >- Select Sector -</option>
                                          @foreach (var item in new SelectList(ViewBag.Categories, "ID", "Name"))
  {
      <option value="@item.Value" >@item.Text</option>
  }
                                          </select>  
                                     
                                     
                                </div>
                            </div>

                           
                              <div class="form-group">
                                <label for="value" class="col-xs-3 col-lg-2 control-label">Incident Type</label>
                                <div class="col-sm-9 col-lg-5 controls">
                                    
     <select data-placeholder="Select Incident Type" class="form-control" id="ddlIncidentType" name="IncidentTypeID">

         <option value="" >- Select Incident Type -</option>
                                          @foreach (var item in new SelectList(ViewBag.IncidentTypes, "ID", "Type"))
  {
      <option value="@item.Value" >@item.Text</option>
  }
                                          </select>  
                                     
                                     
                                </div>
                            </div>
                              <div class="form-group" id="dvProvince">
                                <label for="value" class="col-xs-3 col-lg-2 control-label">Province</label>
                                <div class="col-sm-9 col-lg-5 controls">
                                    
     <select data-placeholder="Select Province" class="form-control" id="ddlProvince" name="ProvinceID">
      
                                          </select>                                      
                                     
                                </div>
                            </div>
                              <div class="form-group" id="dvDistrict">
                                <label for="value" class="col-xs-3 col-lg-2 control-label">District</label>
                                <div class="col-sm-9 col-lg-5 controls">
                                    
     <select data-placeholder="Select District" class="form-control" id="ddlDistrict" name="DistrictID">
      
                                          </select>                                      
                                     
                                </div>
                            </div>
                              <div class="form-group" id="dvMunicipality">
                                <label for="value" class="col-xs-3 col-lg-2 control-label">Municipality</label>
                                <div class="col-sm-9 col-lg-5 controls">
                                    
     <select data-placeholder="Select Municipality" class="form-control" id="ddlMunicipality" name="MunicipalityID">
      
                                          </select>                                      
                                     
                                </div>
                            </div>
                          
                                 <div class="form-group">
                                <label for="value" class="col-xs-3 col-lg-2 control-label">Ward</label>
                                <div class="col-sm-9 col-lg-5 controls">
                                    
     <select data-placeholder="Select Ward" class="form-control" id="ddlWard" name="WardID">
      
                                          </select>                                      
                                     
                                </div>
                            </div>

                             <div class="form-group" style="display:none">
                                <label for="value" class="col-xs-3 col-lg-2 control-label">Impact</label>
                                <div class="col-sm-9 col-lg-9 controls">
                                    <input type="text" class="form-control" placeholder="Impact" name="Impact" id="txtImpact" value="0">
                                </div>
                            </div>

                               <div class="form-group">
                                <label for="value" class="col-xs-3 col-lg-2 control-label">Status</label>
                                <div class="col-sm-9 col-lg-5 controls">
                                    <select data-placeholder="Select Status" class="form-control" id="ddlStatus" name="Status">

         <option value="" >- Select Status -</option>
                                        @foreach (var item in new SelectList(ViewBag.IncidentStatuses, "ID", "IncidentStatus"))
  {
      <option value="@item.Value" >@item.Text</option>
  }
                                                          </select>  
                                     
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="value" class="col-xs-3 col-lg-2 control-label">Notes</label>
                                <div class="col-sm-9 col-lg-9 controls">
                                      
                                       <textarea cols="15" class="form-control" placeholder="Notes" rows="15" name="Notes" id="txtNotes"></textarea>
                                       
                                </div>
                            </div>

                           
                          
                            
                         
                            
                           
                             <div  class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                             <div class="alert alert-success" id="divmsg" hidden >
                                           <button class="close" data-dismiss="alert">&times;</button> 
                                            <strong><span id="msg">Successful</span></strong> 
                                        </div>
                            </div>
                           
                             <div  class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2" >
                             <div class="alert alert-danger" id="divmsg1" hidden>
                                            <button class="close" data-dismiss="alert">&times;</button>
                                            <strong><span id="msg1">Unsuccessful</span></strong> 
                                        </div>
                            </div>

                            
                            <div id="busy"  class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2" hidden>
                                <img src="~/Images/ajaxloader.gif" />
                                <br />
                                <br />
                            </div>



                            <div class="form-group">
                                <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                                    <button type="submit" class="btn btn-success" id="btnSubmit" value="Submit" >Submit Incident Report</button>
                                       @*<button type="reset" class="btn"  onclick="javascript: AddNew()">Add Another One</button>
                                    <button type="reset" class="btn"  onclick="javascript: Cancel()">Back To List</button>*@
                                </div>
                            </div>


                            <!-- END Left Side -->
                        </div>
                       
                            <!-- BEGIN Right Side -->
                          
                            <!-- END Right Side -->
                 
                    </div>

                </form>
            </div>
        </div>
    </div>
  </div>

	

  <a href="#modal-3"  data-toggle="modal" id="btnValidate" hidden></a>
 <a href="#modal-4"  data-toggle="modal" id="btnResult" hidden></a>

 <div id="modal-3" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel2">Confirm</h3>
                </div>
                <div class="modal-body">
                    <p>Values are not over 10% of previous entries. Do you want to contiue to save?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
                    <button class="btn btn-primary" data-dismiss="modal" id="btnYes">Yes</button>
                </div>
            </div>
        </div>
    </div>




   <div id="modal-4" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel3">Result</h3>
                </div>
                <div class="modal-body">
                    <span id="resultmsg"></span>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>



<a href="#modal-busy"  data-toggle="modal" id="btnModalBusy" hidden></a>
  <div id="modal-busy" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h3 id="myModalLabel311">Please wait.....</h3>
                </div>
                <div class="modal-body">
                    <span id="testresultmsg1">Uploading report.....</span><br />
                      <img src="~/Images/ajaxloader.gif" />
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" id="btnCloseBusy" hidden="hidden"></button>
                </div>
            </div>
        </div>
    </div>
  
  

<script type="text/javascript">

    $(function () {

       
        $("#navIncidents").addClass("active");

       $("#btnSubmit1").on('click', function (e) {
       

        $("#btnResult").click();
       });

       GetRoleFunction();

      
    });                                                                                                                                                                                                                                                                                                             

   
   
    $("#incidentForm").on('submit', function (e) {
        e.preventDefault();
       
        var isValid = false
          , $impact = $('#txtImpact')
           , $notes = $('#txtNotes')
          , $inc = $('#ddlIncidentType')
          , $ward = $('#ddlWard')
           , $status = $('#ddlStatus')
             , $cat = $('#ddlCategory')
          , $alert = $('.alert.alert-danger');

        if (!!$impact.val() && !!$notes.val() && !!$inc.val() && !!$ward.val() && !!$status.val() && !!$notes.val() && !!$cat.val()) {


            $.ajax({
                type: 'POST',
                url: '@Url.Action("../Incident/SubmitIncident")',
                data: new FormData( this ),
                processData: false,
                contentType: false,
                success: function (returndata) {
                    if (returndata.ok) {

                        $('#btnSubmit').prop("disabled", true);
                        $("#busy").prop("hidden", true);
                        $('#divmsg').prop("hidden", false);
                        $('#divmsg1').prop("hidden", true);
                        $("#msg").empty();
                        $("#msg").append(returndata.message);
                        // $("#hdnID").val(returndata.id);
                        $("#resultmsg").empty();
                        $("#resultmsg").append(returndata.message);
                          $("#btnResult").click();
                            
                          if (returndata.uID === 0) {
                              var thatUrl = "../Incident/ReportIncidentThankYou?session="+returndata.id;
                              //  thatUrl = encodeURI(thatUrl);  //Let's encode :)
                              window.location.href = thatUrl;
                          }
                          else {
                              var thatUrl = "../Incident/Incidents";
                              //  thatUrl = encodeURI(thatUrl);  //Let's encode :)
                              window.location.href = thatUrl;
                          }
                        
                    }
                    else {

                        var errorMessage = "Error.";

                        $alert.find('#msg').text(errorMessage);
                        $alert.removeClass('hidden');
                    }
                    },
                    error: function (a, b, c) {
                        var errorMessage = "Error.";

                        $alert.find('#msg').text(errorMessage);
                        $alert.removeClass('hidden');
                    }
                });


        } else {

          
                if (!$impact.val() || $impact.val() == '') {
                    $impact.parent().addClass('has-error');
                } else {
                    $impact.parent().removeClass('has-error');
                }

            if (!$notes.val() || $notes.val() == '') {
                $notes.parent().addClass('has-error');
            } else {
                $notes.parent().removeClass('has-error');
            }

            if (!$inc.val() || $inc.val() == '') {
                $inc.parent().addClass('has-error');
                } else {
                $inc.parent().removeClass('has-error');
                }

            if (!$ward.val() || $ward.val() == '') {
                $ward.parent().addClass('has-error');
                } else {
                $ward.parent().removeClass('has-error');
            }

            if (!$status.val() || $status.val() == '') {
                $status.parent().addClass('has-error');
            } else {
                $status.parent().removeClass('has-error');
            }

            if (!$notes.val() || $notes.val() == '') {
                $notes.parent().addClass('has-error');
            } else {
                $notes.parent().removeClass('has-error');
            }

            }

        });



  

    function AddNew() {

        //  var siteid = $("#ddlSite").chosen().val();
        //   alert(siteid);
        var thatUrl = "ReportIncident";
        thatUrl = encodeURI(thatUrl);  //Let's encode :)
        window.location.href = thatUrl;

    }
    


    function GetRoleFunction() {

        var roleID = '@ViewBag.Role';
         switch (roleID) {
             case "2":
                 GetProvinces();
                 break;

             case "3":
                 $('#dvProvince').prop("hidden", true);
                 $('#ddlProvince').prop("disabled", true);
                 GetDistricts('@ViewBag.CurrID');
                break;

             case "4":
                 $('#dvProvince').prop("hidden", true);
                 $('#dvDistrict').prop("hidden", true);
                $('#ddlDistrict').prop("disabled", true);
                $('#ddlProvince').prop("disabled", true);
                GetMunicipalities('@ViewBag.CurrID');
                break;

             case "5":
                 $('#dvProvince').prop("hidden", true);
                 $('#dvDistrict').prop("hidden", true);
                 $('#dvMunicipality').prop("hidden", true);
                $('#ddlDistrict').prop("disabled", true);
                $('#ddlProvince').prop("disabled", true);
                $('#ddlMunicipality').prop("disabled", true);
                GetWards('@ViewBag.CurrID');
                break;

            case "6":
                $('#ddlDistrict').prop("disabled", true);
                $('#ddlProvince').prop("disabled", true);
                $('#ddlMunicipality').prop("disabled", true);
                $('#ddlWard').prop("disabled", true);
                break;

            default:

        }

        $('#ddlProvince').change(function () {
            var prov = $('#ddlProvince').val();
            GetDistricts(prov);
        });
        $('#ddlDistrict').change(function () {
            var distr = $('#ddlDistrict').val();
            GetMunicipalities(distr);

        });

        $("#ddlMunicipality").change(function () {
            var prov = $('#ddlMunicipality').val();
            GetWards(prov);
        });

        $("#ddlWard").change(function () {
            var ward = $('#ddlWard').val();
            $('#hdnWardID').val(ward);
        });


    }
  

   


    function GetProvinces() {
        //  $("#btnBusyClose").click();
        $("#btnBusy").click();
        var url = '../Auth/GetProvinces';

        $.ajax({
            type: "POST",
            url: url,
            //   data: data,
            datatype: "JSON",
            // contentType: "application/json; charset=utf-8",
            success: function (returndata) {
                $('#ddlProvince').empty();
                var options = '<option value="99999999">-Select Province -</option><option value="0">All Province </option>';

                if (returndata.ok) {

                    $.each(returndata.Records, function (index, itemData) {
                        options += '<option value="' + itemData.ID + '">' + itemData.Name + '</option>'

                    });
                    $('#ddlProvince').append(options);
                    //  $('#ddlProvince').val("0");

                } else {
                    // $("#btnBusyClose").click();

                }

            },
            error: function (data) {
                // $("#btnBusyClose").click();
            }

        });

    }



    function GetDistricts(provinceID) {

        //  $("#btnBusyClose").click();
        $("#btnBusy").click();

        var url = '../Auth/GetDistricts';
        data = {
            ProvinceID: provinceID
        };
        $.ajax({
            type: "POST",
            url: url,
            data: data,
            datatype: "JSON",
            // contentType: "application/json; charset=utf-8",
            success: function (returndata) {

                $('#ddlDistrict').empty();

                var options = '<option value="9999999">-Select District -</option><option value="0">All District</option>';
                if (returndata.ok) {
                    $.each(returndata.Records, function (index, itemData) {
                        options += '<option value="0' + itemData.ID + '">' + itemData.Name + '</option>'

                    });
                    $('#ddlDistrict').append(options);
                    //  $('#ddlDistrict').val("0");
                } else {
                    // $("#btnBusyClose").click();
                }
            },
            error: function (data) {
                // $("#btnBusyClose").click();
            }
        });

    }


    function GetMunicipalities(districtID) {

        //  $("#btnBusyClose").click();
        $("#btnBusy").click();

        var url = '../Auth/GetLocalMunicipalities';
        data = {
            DistrictID: districtID
        };
        $.ajax({
            type: "POST",
            url: url,
            data: data,
            datatype: "JSON",
            // contentType: "application/json; charset=utf-8",
            success: function (returndata) {

                $('#ddlMunicipality').empty();
                var options = '<option value="9999999">-Select Municipality -</option><option value="0">All Municipality </option>';
                if (returndata.ok) {

                    $.each(returndata.Records, function (index, itemData) {
                        options += '<option value="' + itemData.ID + '">' + itemData.Name + '</option>'

                    });
                    $('#ddlMunicipality').append(options);
                    //    $('#ddlMunicipality').val("0");

                } else {
                    // $("#btnBusyClose").click();
                }
            },
            error: function (data) {
                // $("#btnBusyClose").click();
            }

        });

    }




    function GetWards(MuniID) {

        //  $("#btnBusyClose").click();
        $("#btnBusy").click();

        var url = '../Auth/GetWards';
        data = {
            MuniID: MuniID
        };
        $.ajax({
            type: "POST",
            url: url,
            data: data,
            datatype: "JSON",
            // contentType: "application/json; charset=utf-8",
            success: function (returndata) {

                $('#ddlWard').empty();
                var options = '<option value=""> Select Ward </option>';
                if (returndata.ok) {

                    $.each(returndata.Records, function (index, itemData) {
                        options += '<option value="' + itemData.ID + '">' + itemData.Name + '</option>'

                    });
                    $('#ddlWard').append(options);
                    // $('#ddlWard').val("");

                } else {
                    // $("#btnBusyClose").click();

                }

            },
            error: function (data) {
                // $("#btnBusyClose").click();
            }


        });

    }


    

    
</script>
