﻿@{
    ViewBag.Title = "Incident Report";
    Layout = "~/Views/Shared/_LayoutDev.cshtml";
}



@section nav{
   @Html.Partial("~/Views/Shared/_AdminNavbar.cshtml")
    }

<div class="col-md-12">
        <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Thank You - Incident Report </h3>
                                    </div>
                                    <div class="panel-body">
            
            <div class="box-content">
                <form id="incidentForm"  enctype="multipart/form-data"  class="form-horizontal">
                                                  
 
    
   
                    <div class="row">
                        <div class="col-md-12 ">
                               <div class="form-group">
                                <div  class="col-sm-12 col-sm-offset-0 col-lg-12 col-lg-offset-0">
                             <div class="alert alert-success">
                                           <button class="close" data-dismiss="alert">&times;</button> 
                                            <strong><span >Thank you reporting an incident. * If you want feedback you leave your contact details</span></strong> 
                                        </div>
                            </div>
                           </div>

                           

                           
                             
                          
                               

                             <div class="form-group" >
                                <label for="value" class="col-xs-3 col-lg-2 control-label">Name </label>
                                <div class="col-sm-9 col-lg-9 controls">
                                    <input type="text" class="form-control" placeholder="Name" name="Impact" id="txtName" >
                                </div>
                            </div>

                              <div class="form-group" >
                                <label for="value" class="col-xs-3 col-lg-2 control-label">PhoneNumber </label>
                                <div class="col-sm-9 col-lg-9 controls">
                                    <input type="text" class="form-control" placeholder="PhoneNumber" name="Impact" id="txtPhoneNumber" >
                                </div>
                            </div>

                                <div class="form-group" >
                                <label for="value" class="col-xs-3 col-lg-2 control-label">Email </label>
                                <div class="col-sm-9 col-lg-9 controls">
                                    <input type="text" class="form-control" placeholder="Email" name="Impact" id="txtEmail" >
                                </div>
                            </div>
                            </div>
                        
                           
                             <div  class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                             <div class="alert alert-success" id="divmsg" hidden >
                                           <button class="close" data-dismiss="alert">&times;</button> 
                                            <strong><span id="msg">Successful</span></strong> 
                                        </div>
                            </div>
                           
                             <div  class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2" >
                             <div class="alert alert-danger" id="divmsg1" hidden>
                                            <button class="close" data-dismiss="alert">&times;</button>
                                            <strong><span id="msg1">Unsuccessful</span></strong> 
                                        </div>
                            </div>

                            
                            <div id="busy"  class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2" hidden>
                                <img src="~/Images/ajaxloader.gif" />
                                <br />
                                <br />
                            </div>



                            <div class="form-group">
                                <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                                    <button type="button" class="btn btn-success" id="btnSubmit" >Submit </button>
                                       @*<button type="reset" class="btn"  onclick="javascript: AddNew()">Add Another One</button>
                                    <button type="reset" class="btn"  onclick="javascript: Cancel()">Back To List</button>*@
                                </div>
                            </div>


                            <!-- END Left Side -->
                       
                       
                           
                 
                    </div>hrhr

                </form>
            </div>
        </div>
    </div>
  </div>

	

  <a href="#modal-3"  data-toggle="modal" id="btnValidate" hidden></a>
 <a href="#modal-4"  data-toggle="modal" id="btnResult" hidden></a>

 <div id="modal-3" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel2">Confirm</h3>
                </div>
                <div class="modal-body">
                    <p>Values are not over 10% of previous entries. Do you want to contiue to save?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
                    <button class="btn btn-primary" data-dismiss="modal" id="btnYes">Yes</button>
                </div>
            </div>
        </div>
    </div>




   <div id="modal-4" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel3">Result</h3>
                </div>
                <div class="modal-body">
                    <span id="resultmsg"></span>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>



<a href="#modal-busy"  data-toggle="modal" id="btnModalBusy" hidden></a>
  <div id="modal-busy" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h3 id="myModalLabel311">Please wait.....</h3>
                </div>
                <div class="modal-body">
                    <span id="testresultmsg1">Uploading report.....</span><br />
                      <img src="~/Images/ajaxloader.gif" />
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" id="btnCloseBusy" hidden="hidden"></button>
                </div>
            </div>
        </div>
    </div>
  
  

<script type="text/javascript">

    $(function () {

       
        $("#navIncidents").addClass("active");

       $("#btnSubmit").on('click', function (e) {
       

           SubmitAnonymous();
       });

     

      
    });                                                                                                                                                                                                                                                                                                             



    function SubmitAnonymous() {

      

        var url = '../Incident/SubmitAnonymous';
        Anonymous = {
            Name: $('#txtName').val(),
            PhoneNumber: $('#txtPhoneNumber').val(),
            Email: $('#txtEmail').val(),
            IncidentID: '@ViewBag.IID'
        };
        $.ajax({
            type: "POST",
            url: url,
            data: Anonymous,
            datatype: "JSON",
            // contentType: "application/json; charset=utf-8",
            success: function (returndata) {

              
              
                if (returndata.ok) {
                    $('#btnSubmit').prop("disabled", true);
                    $("#busy").prop("hidden", true);
                    $('#divmsg').prop("hidden", false);
                    $('#divmsg1').prop("hidden", true);
                    $("#msg").empty();
                    $("#msg").append(returndata.message);
                    $("#incidentForm").reset();
                } else {
                    $('#divmsg1').prop("hidden", false);
                    $("#msg1").empty();
                    $("#msg1").append(returndata.message);

                }

            },
            error: function (data) {
                $('#divmsg1').prop("hidden", false);
                $("#msg1").empty();
                $("#msg1").append('Error');
            }


        });

    }

    
</script>
