﻿@if (!HttpContext.Current.User.Identity.IsAuthenticated) {
   
         <div  class="navbar">
           
            <a class="navbar-brand" href="#">
                <small>
                   
                <img src="~/img/South%20Africa.png" height="30" />
                ZA Stats
                </small>
            </a>

 <ul class="nav flaty-nav pull-right">
              
                <li class="user-profile">
                    <a data-toggle="dropdown" href="#" class="user-menu dropdown-toggle">
                     
                        <span id="user_info1">
                       Welcome : User
                        </span>
                     
                    </a>

                    <!-- BEGIN User Dropdown -->
                  
                    <!-- BEGIN User Dropdown -->
                </li>
          <li class="user-profile">
                            <a href="../Auth/Login" >
                                <i class="icon-unlock"></i>
                                Login
                            </a>
                        </li>
   
                <!-- END Button User -->
            </ul>
            <!-- END Navbar Buttons -->

            <!-- BEGIN Horizontal Menu -->
    

            <ul class="nav flaty-nav navbar-collapse collapse" >
      
                
               
           
          
           
            <li class="active" id="navIncidentRport">
                    <a href="../Incident/ReportIncident?Anonymous=Yes">
                        <i class="icon-eye-open"></i>
                        <span>Report Incident</span>
                    </a>
                </li>
           
                

            </ul>

         </div>
    }
 else {
    
    

     <div id="navbar" class="navbar">
            <button type="button" class="navbar-toggle navbar-btn for-nav-horizontal collapsed" data-toggle="collapse" data-target="#nav-horizontal" id="nav-horizontal1">
                <span class="icon-reorder"></span>
            </button>
            <a class="navbar-brand" href="#">
                <small>
                   
                <img src="~/img/South%20Africa.png" height="30" />
                ZA Stats
                </small>
            </a>

 <ul class="nav flaty-nav pull-right">
              
                <li class="user-profile">
                    <a data-toggle="dropdown" href="#" class="user-menu dropdown-toggle">
                     
                        <span id="user_info">
                       Welcome : @User.Identity.Name.ToUpper()
                        </span>
                     
                    </a>

                    <!-- BEGIN User Dropdown -->
                  
                    <!-- BEGIN User Dropdown -->
                </li>

      <li class="user-profile">
                            <a href="#" onclick="javascript:Logout()">
                                <i class="icon-off"></i>
                                Logout
                            </a>
                        </li>
                <!-- END Button User -->
            </ul>
            <!-- END Navbar Buttons -->

            <!-- BEGIN Horizontal Menu -->
    

            <ul class="nav flaty-nav navbar-collapse collapse" id="nav-horizontal" >
      
                
                <li id="navDashboard">
                    <a href="../Dashboard/Index">
                        <i class="icon-home"></i>
                        <span>Home</span>
                    </a>
                </li>
           
            <li id="navMap">
                    <a href="../Dashboard/Main">
                        <i class="icon-screenshot"></i>
                        <span>Map OverView</span>
                    </a>
                </li>
           
            <li id="navIncidents">
                    <a href="../Incident/Incidents">
                        <i class="icon-eye-open"></i>
                        <span>Incidents</span>
                    </a>
                </li>
           
                

            </ul>

         </div>

}

<script type="text/javascript">

    

    

   
    function Logout() {
      
               
      
        var thatUrl = "../Auth/Logout";
        thatUrl = encodeURI(thatUrl);  //Let's encode :)
        window.location.href = thatUrl;

    }








</script>
