﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Login - ZADemo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  @Styles.Render("~/assets/bootstrap/css/bootstrap.css")
          @Styles.Render("~/assets/font-awesome/css/font-awesome.min.css")
     

        <!--page specific css styles-->

        <!--flaty css styles-->
         @Styles.Render("~/css/flaty.css")
        @Styles.Render("~/css/flaty-responsive.css")
  @Styles.Render("~/assets/bootstrap-datepicker/css/datepicker.css")
  @Styles.Render("~/assets/bootstrap-timepicker/compiled/timepicker.css")
        @Styles.Render("~/assets/clockface/css/clockface.css")
         

        @Styles.Render("~/assets/bootstrap-fileupload/bootstrap-fileupload.css")

         @Styles.Render("~/Scripts/jtable/themes/metro/blue/jtable.css")

        
           @Styles.Render("~/Content/themes/metroblue/jquery-ui.css")
       @Styles.Render("~/Content/highlight.css")
     

       @Styles.Render("~/Scripts/syntaxhighligher/styles/shCore.css")
        @Styles.Render("~/Scripts/syntaxhighligher/styles/shThemeDefault.css")

            @Scripts.Render("~/js/jquery-1.8.2.min.js")

        <link rel="shortcut icon" href="~/img/South Africa.png">
    </head>
    <body class="login-page">

        <!-- BEGIN Main Content -->
           @RenderBody()
       
        <!-- END Main Content -->


        <!--basic scripts-->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="assets/jquery/jquery-2.1.1.min.js"><\/script>')</script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>

        <script type="text/javascript">
            function goToForm(form) {
                $('.login-wrapper > form:visible').fadeOut(500, function () {
                    $('#form-' + form).fadeIn(500);
                });
            }
            $(function () {
                $('.goto-login').click(function () {
                    goToForm('login');
                });
                $('.goto-forgot').click(function () {
                    goToForm('forgot');
                });
                $('.goto-register').click(function () {
                    goToForm('register');
                });
            });
        </script>
    </body>
</html>
