﻿<!DOCTYPE html>
@{
    var jTableStyle = "metro/green/jtable.css";
    if (!string.IsNullOrEmpty(Request["jTableStyle"]))
    {
        jTableStyle = Request["jTableStyle"];
    }
}
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:html5="http://www.w3.org/1999/xhtml">
    <head>
       

       
   
       
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=100,chrome=1">
         <title>@ViewBag.Title - ZA</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!--base css styles-->
     @Styles.Render("~/assets/bootstrap/css/bootstrap.css")
          @Styles.Render("~/assets/font-awesome/css/font-awesome.min.css")
     
      
         @Styles.Render("~/css/flaty.css")
        @Styles.Render("~/css/flaty-responsive.css")
  @Styles.Render("~/assets/bootstrap-datepicker/css/datepicker.css")
  @Styles.Render("~/assets/bootstrap-timepicker/compiled/timepicker.css")
        @Styles.Render("~/assets/clockface/css/clockface.css")
         

        @Styles.Render("~/assets/bootstrap-fileupload/bootstrap-fileupload.css")

      @*   @Styles.Render("~/Scripts/jtable/themes/metro/green/jtable.css")*@

        
        @*   @Styles.Render("~/Content/themes/metrogreen/jquery-ui.css")*@
       @Styles.Render("~/Content/highlight.css")
        @Styles.Render("~/Scripts/jtable/themes/" + jTableStyle)

       @Styles.Render("~/Scripts/syntaxhighligher/styles/shCore.css")
        @Styles.Render("~/Scripts/syntaxhighligher/styles/shThemeDefault.css")

            @Scripts.Render("~/js/jquery-2.0.3.min.js")

        <link rel="shortcut icon" href="~/img/South Africa.png"/>
    </head>
    <body id="body">

       

        <!-- BEGIN Navbar -->


            <!-- BEGIN Navbar Buttons -->
            @RenderSection("nav", false)
             
          


            <!-- END Navbar Buttons -->
           
            <!-- BEGIN Horizontal Menu -->
            



            <!-- END Horizontal Menu -->

     
        <!-- END Navbar -->

        <!-- BEGIN Container -->
        <div class="container" id="main-container">

            <!-- BEGIN Content -->
            <div id="main-content">
                <!-- BEGIN Page Title -->
              
                <!-- END Page Title -->

                <!-- BEGIN Breadcrumb -->
              
                <!-- END Breadcrumb -->

                <!-- BEGIN Main Content -->
             
                  
                                @RenderBody()
                          
                   
                
                <!-- END Main Content -->
                
                <footer>
                    <p> ZA Stats © 2015: Powered By ....      <span class="label label-gray">V.0.1</span></p>
                </footer>

                <a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="icon-chevron-up"></i></a>
            </div>
            <!-- END Content -->
        </div>
        <!-- END Container -->

       
        <!--basic scripts-->
      @* @Scripts.Render("~/js/prettify.js")*@
       
<!-- google maps -->
   <!--&key=xxx-->
      
          @Scripts.Render("https://maps.googleapis.com/maps/api/js?sensor=false")"
       
        
            @Scripts.Render("~/js/lib/bootstrap/bootstrap.min.js")"
@* @Scripts.Render("~/js/maplace.min.js")*@
 @Scripts.Render("~/js/jquery.ba-outside-events.min.js")
 @Scripts.Render("~/js/jquery.responsive-tabs.js")
 @Scripts.Render("~/js/jquery.flexslider-min.js")
 @Scripts.Render("~/js/jquery.fitvids.js")
 @Scripts.Render("~/js/jquery-ui-1.10.4.custom.min.js")
 @Scripts.Render("~/js/jquery.inview.min.js")
 @Scripts.Render("~/js/script.js")
 
       @Scripts.Render("~/js/jquery-ui.js")

     
  
        @Scripts.Render("~/js/lib/bootstrap/bootstrap.min.js")"
        @Scripts.Render("~/assets/nicescroll/jquery.nicescroll.min.js")
        @Scripts.Render("~/assets/jquery-cookie/jquery.cookie.js")
        <!--page specific plugin scripts-->


        <!--flaty scripts-->
        
            @Scripts.Render("~/js/flaty.js")
          @Scripts.Render("~/js/flaty-demo-codes.js")

      
         @Scripts.Render("~/assets/bootstrap-datepicker/js/bootstrap-datepicker.js")
         @Scripts.Render("~/assets/bootstrap-timepicker/js/bootstrap-timepicker.js")
         @Scripts.Render("~/assets/bootstrap-fileupload/bootstrap-fileupload.min.js")
       
     @Scripts.Render("~/assets/ckeditor/ckeditor.js")
          @Scripts.Render("~/assets/chosen-bootstrap/chosen.jquery.min.js")

        
 

    
          @Scripts.Render("~/assets/jquery-ui/jquery-ui.min.js")

        @Scripts.Render("~/Scripts/syntaxhighligher/shCore.js")
       @Scripts.Render("~/Scripts/syntaxhighligher/shBrushJScript.js")
       @Scripts.Render("~/Scripts/syntaxhighligher/shBrushXml.js")
       @Scripts.Render("~/Scripts/syntaxhighligher/shBrushCSharp.js")
       @Scripts.Render("~/Scripts/syntaxhighligher/shBrushSql.js")

        @Scripts.Render("~/Scripts/jtablesite.js")

       @Scripts.Render("~/Scripts/jtable/jquery.jtable.js")

     
         @Scripts.Render("~/js/jquery.base64.js")
          @Scripts.Render("~/mapper.js")
         
        @RenderSection("scripts", required: false)


       

    </body>
</html>
