﻿@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutDev.cshtml";
}


@section nav{
     @Html.Partial("~/Views/Shared/_AdminNavbar.cshtml")
    }

 
<div class="col-md-12">
        <div class="panel panel-default">
                                  @*  <div class="panel-heading">
                                        <h3 class="panel-title">Dashboard</h3>
                                    </div>*@
                                    <div class="panel-body">
            
            <div class="box-content">
           	<div>
									

									
                       <div class="row">
                           <div class="col-md-12" >
                            @* <div class="col-md-2 tile-static">
                                <div class="tile tile-big tile-img" style="background-image: url(../img/Government-logoB.jpg);">
                        </div>
                                 
                                </div>*@
                            <div class="col-md-12 tile-static">
                                <div class="tile tile-big tile-img" style="background-image: url(../img/ub.png);">
                                   
                                </div>
                               </div>
                             
                        </div>
                 </div>
                          <!-- BEGIN Tiles -->
                <div class="row">
               

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4 ">
                                    <div class="tile tile-green">
                                        <a class="tile tile-green"  href="Main">
                                            <div class="img img-center">
                                                <img src="../img/world-map-icon.png" />
                                            </div>
                                            <p class="title text-center">Map Overview</p>
                                        </a>

                                       @* <a class="tile tile-green" href="Main">
                                              <p class="title text-center">Map Overview</p>
                                            <p>The map overview shows all areas making where there is incident</p>
                                        </a>*@
                                    </div>

                                </div>
                            <div class="col-md-4">
                                 <div class="tile tile-green">
                                        <a class="tile tile-green"  href="~/Incident/Incidents">
                                            <div class="img img-center">
                                                <img src="../img/comp-incident-response.png" />
                                            </div>
                                            <p class="title text-center">View Incidents</p>
                                        </a>

                                        <a class="tile tile-green" href="Main">
                                              <p class="title text-center">Incidents</p>
                                            <p>View all incidents in your area</p>
                                        </a>
                                    </div>
                                </div>
                                     <div class="col-md-4">
                                          <div class="tile tile-green">
                                        <a class="tile tile-green"  href="~/Incident/ReportIncident">
                                            <div class="img img-center">
                                                <img src="../img/incident-icon.png" />
                                            </div>
                                            <p class="title text-center">Report Incident</p>
                                        </a>

                                        <a class="tile tile-green" href="~/Incident/ReportIncident">
                                              <p class="title text-center">Report Incident</p>
                                            <p> Report incident in your area</p>
                                        </a>
                                    </div>
</div>
                         
                        </div>

                    
                    </div>
                    

                               <div class="col-md-12">
                        <div class="row">
                           
                                     <div class="col-md-4">
                                           <div class="tile tile-green">
                                        <a class="tile tile-green" href="Main">
                                            <div class="img img-center">
                                                <img src="../img/ir-icon.png" />
                                            </div>
                                            <p class="title text-center">Statistics</p>
                                        </a>

                                        <a class="tile tile-green" href="Main">
                                              <p class="title text-center">Statistics</p>
                                            <p> Statistics</p>
                                        </a>
                                    </div>
                                         </div>

                            
                                    <div class="col-md-4">
                                          <div class="tile tile-green">
                                        <a class="tile tile-green"  href="Main">
                                            <div class="img img-center">
                                                <img src="../img/incidentoverdue.png" />
                                            </div>
                                            <p class="title text-center">Overdue</p>
                                        </a>

                                        <a class="tile tile-green" href="Main">
                                              <p class="title text-center">Overdue</p>
                                            <p> Overdue</p>
                                        </a>
                                    </div>
                                        </div>
                             <div class="col-md-4 ">
                                   <div class="tile tile-green">
                                        <a class="tile tile-green" href="Main">
                                            <div class="img img-center">
                                                <img src="../img/Contact_Icon.png" />
                                            </div>
                                            <p class="title text-center">Ward Contacts</p>
                                        </a>

                                        <a class="tile tile-green" href="Main">
                                              <p class="title text-center">Ward Contacts</p>
                                            <p>Ward Contacts</p>
                                        </a>
                                    </div>

                         </div>
                        </div>

                    
                    </div>
                </div>

                <!-- END Tiles -->





									</div>

            </div>
        </div>
    </div>
  </div>
    
 <script type="text/javascript">
        $(function () {
            $("#navDashboard").addClass("active");
           

        });

    
    </script>	