﻿@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutDev.cshtml";
}


@section nav{
     @Html.Partial("~/Views/Shared/_AdminNavbar.cshtml")
    }

  <script src="~/js/jquery-2.0.3.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript"></script>
    <!-- bootstrap -->
   @* <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">*@
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <!-- google maps -->
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script><!--&key=xxx-->
    <!-- mapper -->
    <script src="~/mapper.js" type="text/javascript"></script>
    <!-- prettify -->
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js" type="text/javascript"></script>
	
<link href="~/css/mapper.css" rel="stylesheet" />
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js" type="text/javascript"></script><script type="text/javascript">
    $(function () {

        $('#btnNav').click();


        $('#mapP').prop("hidden", false);
        $('#dvBack').prop("hidden", true);
        $('#mapD').prop("hidden", true);
        $('#mapM').prop("hidden", true);
        $('#mapW').prop("hidden", true);

      // GetProvinces();

       GetRoleFunction() ;
       


    });


    function GetRoleFunction() {
        $('#hdnProvince').val('@ViewBag.Province');
        var roleID = '@ViewBag.Role';
        switch (roleID) {
            case "2":
                GetProvinces();
                break;

            case "3":
                $('#dvBack').prop("hidden", true);
                GetDistricts('@ViewBag.CurrCode');
                break;

            case "4":
                $('#dvBack').prop("hidden", true);
                GetMunicipalities('@ViewBag.CurrCode');
                break;

            case "5":
                $('#dvBack').prop("hidden", true);
                GetWards('@ViewBag.CurrCode');
                break;



            default:

        }
    }


    function GetProvinces() {
        
       
        $('#spTitle').empty();
        $('#spTitle').append('Provinces');
      //  $('#hdnProvince').val(province);
       
                $('#dvBack').prop("hidden", true);
             


        var url = '../Dashboard/GetProvinces';
       // data = { Province: province };
        $.ajax({
            type: "POST",
            url: url,
          //  data: data,
            datatype: "JSON",
            // contentType: "application/json; charset=utf-8",
            success: function (returndata) {

            //    $('#mapD').empty();
                $('#mapP').prop("hidden", false);
                $('#mapD').prop("hidden", true);
                $('#mapM').prop("hidden", true);
                $('#mapW').prop("hidden", true);
              //  $('#dvBack').prop("hidden", true);
                if (returndata.ok) {
                  
                    $('#mapP').empty();
                    $("#mapP").mapper({
                        dataType: "provinces",
                        data: returndata.Records,
                        click: function (event) {
                            //  alert(this.id);
                            $('#dvBack').prop("hidden", false);
                            GetDistricts(this.id);
                        }
                    });
                }
                else {
                    // $("#btnBusyClose").click();

                }

            },
            error: function (data) {
                // $("#btnBusyClose").click();
            }


        }
        );

    }

    function GetDistricts(province) {
        $('#spTitle').empty();
        $('#spTitle').append(province + ' Districts');
        $('#hdnProvince').val(province);
        
        var roleID = '@ViewBag.Role';        
        if (roleID === "3") {
            $('#dvBack').prop("hidden", true);
        }
               
          

        var url = '../Dashboard/GetDistricts';
        data = { Province: province };
        $.ajax({
            type: "POST",
            url: url,
            data: data,
            datatype: "JSON",
            // contentType: "application/json; charset=utf-8",
            success: function (returndata) {

             //  $('#mapD').empty();
                $('#mapP').prop("hidden", true);
                $('#mapD').prop("hidden", false);
                $('#mapW').prop("hidden", true);
                $('#mapM').prop("hidden", true);
               // $('#dvBack').prop("hidden", false);
                if (returndata.ok) {
                    // var districts = jQuery.parseJSON(returndata.Records);
                    // var districts = jdata.Records.split(',');
                    $("#mapD").mapper({
                        dataType: "districts",
                        data: returndata.Records,
                        
                            click: function (event) {
                                //   alert(this.id);
                                $('#dvBack').prop("hidden", false);
                                GetMunicipalities(this.id);
                            }
                    });

                    $("#btnBack").unbind("click");
                    $('#btnBack').click(function () {

                        $('#mapP').prop("hidden", false);
                        $('#mapD').prop("hidden", true);
                        $('#mapM').prop("hidden", true);
                        $('#mapW').prop("hidden", true);
                        $('#dvBack').prop("hidden", true);
                        GetProvinces();
                    });
                }
                else {
                    // $("#btnBusyClose").click();

                }

            },
            error: function (data) {
                // $("#btnBusyClose").click();
            }


        }
        );

    }

    function GetMunicipalities(district) {
        $('#spTitle').empty();
        $('#spTitle').append(district + ' Local Municipalities');
        $('#hdnDistrict').val(district);
        var roleID = '@ViewBag.Role';
        if (roleID === "4") {
            $('#dvBack').prop("hidden", true);
        }


        var url = '../Dashboard/GetMunicipalities';
        data = { District: district };
        $.ajax({
            type: "POST",
            url: url,
            data: data,
            datatype: "JSON",
            // contentType: "application/json; charset=utf-8",
            success: function (returndata) {

                //    $('#mapD').empty();
                $('#mapP').prop("hidden", true);
                $('#mapD').prop("hidden", true);
                $('#mapW').prop("hidden", true);
                $('#mapM').prop("hidden", false);
               // $('#dvBack').prop("hidden", false);
                if (returndata.ok) {
                    // var districts = jQuery.parseJSON(returndata.Records);
                    // var districts = jdata.Records.split(',');
                    $("#mapM").mapper({
                        dataType: "municipalities",
                        data: returndata.Records,
                        click: function (event) {
                            //   alert(this.id);
                            GetWards(this.id);
                        }
                    });

                    $("#btnBack").unbind("click");
                    $('#btnBack').click(function () {

                        $('#mapP').prop("hidden", true);
                        $('#mapD').prop("hidden", true);
                        $('#mapM').prop("hidden", false);
                        $('#mapW').prop("hidden", true);
                        $('#dvBack').prop("hidden", false);

                        GetDistricts($('#hdnProvince').val());
                    });
                }
                else {
                    // $("#btnBusyClose").click();

                }

            },
            error: function (data) {
                // $("#btnBusyClose").click();
            }


        }
        );

    }

    function GetWards(municipality) {


        $('#spTitle').empty();
        $('#spTitle').append(municipality + ' Wards');

        var roleID = '@ViewBag.Role';
        if (roleID === "5") {
            $('#dvBack').prop("hidden", true);
        }


        var url = '../Dashboard/GetWards';
        data = { Municipality: municipality };
        $.ajax({
            type: "POST",
            url: url,
            data: data,
            datatype: "JSON",
            // contentType: "application/json; charset=utf-8",
            success: function (returndata) {

                //    $('#mapD').empty();
                $('#mapP').prop("hidden", true);
                $('#mapD').prop("hidden", true);
                $('#mapM').prop("hidden", true);
                $('#mapW').prop("hidden", false);
             //   $('#dvBack').prop("hidden", true);
                if (returndata.ok) {
                    // var districts = jQuery.parseJSON(returndata.Records);
                    // var districts = jdata.Records.split(',');
                    $("#mapW").mapper({
                        dataType: "wards",
                        data: returndata.Records,
                        province: $('#hdnProvince').val()
                    });

                    $("#btnBack").unbind("click");
                    $('#btnBack').click(function () {

                        $('#mapP').prop("hidden", true);
                        $('#mapD').prop("hidden", true);
                        $('#mapM').prop("hidden", false);
                        $('#mapW').prop("hidden", true);
                        $('#dvBack').prop("hidden", false);
                     
                        GetMunicipalities($('#hdnDistrict').val());
                    });
                }
                else {
                    // $("#btnBusyClose").click();

                }

            },
            error: function (data) {
                // $("#btnBusyClose").click();
            }


        }
        );

    }
    </script>

<div class="col-md-12">
        <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Dashboard</h3>
                                    </div>
                                    <div class="panel-body">
            
            <div class="box-content">
           	<div>
									

										<a href="#" class="toggle"></a>

                   <div class="row">
                   
                    <div class="col-md-12">
                           <div class="box-content">
 <div class="col-md-3">
    
                    
          <div class="col-md-3">
              <div id ="dvBack">
          <button type="button" class="btn btn-success form-control" id="btnBack">← Back</button>
              
                
              </div>
              </div> <div class="col-md-9"></div>
             
                        
                    </div>
                           <div class="col-md-9">
                        

                              
                    </div>
                               
                            </div>

                    </div>

                          <div class="col-md-12">
                           <div class="box-content">


         
          
                  <input id ="hdnProvince" type="hidden" />
                  <input id ="hdnDistrict" type="hidden" />
                
            
             
                        
                   
                         
                               <h2><span id="spTitle">Provinces</span></h2>
                        <div id="mapP" class="map"></div>
                        <div id="mapD" class="map"></div>
                                 <div id="mapM" class="map"></div>
                                <div id="mapW" class="map"></div>

                            </div>   
        
                               
                            </div>

                    </div>
                
									</div>

            </div>
        </div>
    </div>
  </div>
    
 <script type="text/javascript">
        $(function () {
            $("#navDashboard").addClass("active");
           

        });

    
    </script>	