﻿

.map {
     min-width: 600px;
      min-height: 700px;
    width:100%;
    height: 100%;
}

pre.prettyprint {
    padding: 9.5px;
}

.row {
    margin-left: -20px;
    *zoom: 1;
    margin-bottom: 30px;
    margin-top: 30px;
}

pre.prettyprint {
    overflow-x: auto;
    max-width: 100%;
    white-space: pre;
    word-wrap: normal;
}

.jumbotron {
    background-color: #428bca;
    color: white;
    -webkit-box-shadow: 0 0 25px #373F47;
    -ms-box-shadow: 0 0 25px #373F47;
    box-shadow: 0 0 25px #373F47;
    border: solid 1px #357ebd;
}
